<div class="main">	
	<h2>Projects</h2>
	<p>
		This site is by no means the definite guide to backbone.js and all corrections and contributions are welcome. About Backbone Tutorials
	</p>
	<p>
		As single page apps and large scale javascript applications become more prominent on the web, useful resources for those developers who are jumping the ship are crucial
	</p>
	<p>
		I started this site to not only consolidate my understanding of backbone.js but to also document what I have learned thus far for myself and others.
	</p>
	<div id="projects-list"></div>
</div>	
<div class="sidebar"></div>

