---
layout: default
title: 
---


<h2>Beginner</h2>
<ul class="tutorials">
    {% for post in site.posts %}
        {% if post.type == "beginner" %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
    {% endfor %}
</ul>


<h2>Intermediate</h2>
<ul class="tutorials">
    {% for post in site.posts %}
        {% if post.type == "intermediate" %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
    {% endfor %}

</ul>


<div style="border: 1px solid #ccc; box-shadow: 0 0 10px #ccc; margin-top: 15px; margin-bottom: 20px;padding: 15px;">
<h3 style="margin-bottom:15 px;">Backbone.js Beginner Video Tutorial</h3><img src="/backbone.png" style="float: left;" /><p>Check out the 70min screen cast which covers models, collections, views and routers.</p>
<a href="http://gum.co/backbone-beginner-screencast" class="btn btn-primary">Watch Video</a>
<div style="clear: both;"></div>
</div>


<h2>Backbone Boilerplate</h2>
<ul class="tutorials">
<li><a href="http://backboneboilerplate.com">Backbone Boilerplate - Using require.js with build system</a></li>
</ul>
<h2>Demo apps!</h2>
<ul class="tutorials">
<li><a href="http://thomasdavis.github.com/kalei/">Kalei - A living CSS styleguide - Built with Backbone.js using these principles</a></li>
<li><a href="http://apiengine.io">ApiEngine.io</a> (Beta) - Collaborativly build RESTful API's with automated testing and client mocking.</li>
    <li><a href="https://github.com/alessioalex/ClientManager" alt="Sample application built with Backbone, RequireJS, Twitter Bootstrap on the client and Node.js (Express.js, Mongoose) on the server.">ClientManager</a> - Sample application built with Backbone, RequireJS, Twitter Bootstrap on the client and Node.js (Express.js, Mongoose) on the server.</li>
    <li><a href="http://antoviaque.org/docs/tutorials/backbone-relational-tutorial/">Backbone-relational Tutorial</a> - Nested Models With Backbone.js</li>
</ul>


<h2>External Tutorials</h2>
<ul class="tutorials">
    <li><a target="_blank" href="http://thomasdavis.github.com/2011/02/01/backbone-introduction.html">Backbone.js Tutorial – by noob for noobs</a></li>
    <li><a target="_blank" href="http://weblog.bocoup.com/organizing-your-backbone-js-application-with-modules">Organizing Your Backbone.js Application with Modules</a></li>
    <li><a target="_blank" href="http://developer.teradata.com/blog/jasonstrimpel/2011/11/backbone-js-and-socket-io">Backbone.js and socket.io</a></li>
</ul>

