---
layout: default
title: 
---


<h2>Beginner</h2>
<ul class="tutorials">
    {% for post in site.posts %}
        {% if post.type == "beginner" %}
      <li><a href="{{ post.url }}">{{ post.title }}</a> &raquo; <a href="http://thomasdavis.github.com">Thomas Davis</a></li>
        {% endif %}
    {% endfor %}
</ul>
<h2>Intermediate</h2>
<ul class="tutorials">
    {% for post in site.posts %}
        {% if post.type == "intermediate" %}
      <li><a href="{{ post.url }}">{{ post.title }}</a> &raquo; <a href="http://thomasdavis.github.com">Thomas Davis</a></li>
        {% endif %}
    {% endfor %}

</ul>

<h2>Advanced</h2>
<ul class="tutorials">
    <li>Coming Soon</li>
</ul>
<br /><br /><br />
<h2>External Tutorials</h2>
<ul class="tutorials">
    <li><a target="_blank" href="http://thomasdavis.github.com/2011/02/01/backbone-introduction.html">Backbone.js Tutorial – by noob for noobs</a></li>
    <li><a target="_blank" href="http://weblog.bocoup.com/organizing-your-backbone-js-application-with-modules">Organizing Your Backbone.js Application with Modules</a></li>
    <li><a target="_blank" href="http://jvcustomdesigns.com/139/backbone-tutorial-1/">Backbone Tutorial #1 | JV Custom Designs</a></li>
    <li><a target="_blank" href="http://quickleft.com/blog/leveraging-deferreds-in-backbonejs">Leveraging Deferreds in Backbone.js</a></li>
    <li><a target="_blank" href="http://developer.teradata.com/blog/jasonstrimpel/2011/11/backbone-js-and-socket-io">Backbone.js and socket.io</a></li>
</ul>
