<ul class="contributors">
   <% _.each(contributors, function(contributor){ %>
   <li style="width:<%= contributor.get('picWidth')%>; height: <%= contributor.get('picWidth')%>">
   <div class="contributor" style="width:<%= contributor.get('picWidth')%>; height: <%= contributor.get('picWidth')%>">
      <ul>
        <li class="pic" style="width:<%= contributor.get('picWidth')%>; height: <%= contributor.get('picWidth')%>">
          <p><a href="<%= contributor.get('githubPath') %>"><img width="<%= contributor.get("picWidth") %>" src="<%= contributor.get('avatar_url') %>&s=<%= contributor.get("picWidth") %>"></a></p>
        </li>
        <li class="username" style="width:<%= contributor.get('picWidth')%>;">
            <p><a href="<%= contributor.get('githubPath') %>"><%= contributor.get("login") %></a></p>
        </li>
        <li class="contributions" style="width:<%= contributor.get('picWidth')%>; height: <%= contributor.get('picWidth')%>">
            <p style="background-color:<%= contributor.get("medalHex") %>"><%= contributor.get("contributions") %></p>
        </li>
      </ul> 
    </div>
  </li>  
  <% }); %>
</ul>

