<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{% if page.title %}{{page.title}} - {% endif %}Backbone.js Tutorials</title>
<link href="/atom.xml" rel="alternate" title="backbone tutorials" type="application/atom+xml">
   <meta name="author" content="Backbone Tutorials" />

   <!-- syntax highlighting CSS -->

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
   
  <link rel="stylesheet" href="http://cdn.moot.it/1.1/moot.css"/>
   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection" />
   


   <!-- Typekit -->
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
 
  
    <script type="text/javascript">
/* <![CDATA[ */
    (function() {
        var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
        t.parentNode.insertBefore(s, t);
    })();
/* ]]> */
</script>
     <!-- (1) Moot depends on jQuery v1.7 or greater -->
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

      <!-- (1) Moot client application -->
      <script src="http://cdn.moot.it/1.1/moot.min.js"></script>
</head>
<body>

     


<div class="container">
          <hr />

<div class="">

   <div class="row">
    <div class="span12" style="position: relative;">  <h1>
   <a class="" href="/">Backbone Tutorials</a>
 </h1>
      <h3>By <a href="http://thomasdav.is">Thomas Davis</a></h3>
             <span style="position: absolute; right: 0; top: 0;"><a href="http://twitter.com/neutralthoughts" class="twitter-follow-button">Follow @neutralthoughts</a>
<br />

<iframe src="http://ghbtns.com/github-btn.html?user=thomasdavis&repo=backbonetutorials&type=watch&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="170px" height="30px"></iframe>

<iframe src="http://ghbtns.com/github-btn.html?user=thomasdavis&repo=backbonetutorials&type=fork&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="146px" height="30px"></iframe>
<br />
Hiring Ruby developer - YC company - Remote<br />
<a href="https://gist.github.com/thomasdavis/6017383">Details</a>
<!--
Building a RESTful API?<br />
<a href="http://apiengine.io">ApiEngine.io</a> - Coming soon
<br />
 <div style="background: url(earbits-b.png); padding: 7px; border-radius: 3px">
                    <a href="http://www.earbits.com?#station/music-to-work-to-electronic-for-work" style="color: #fff; text-decoration: none">
                        <img style="margin-top: -5px" src="earbits.png" alt="earbit.com - free online radio" />
                        <span style="display:inline-block; line-height: 20px;margin-left: 20px;">Music for hackers</span>
                    </a>
                </div>-->
             </span>


             <a class="btn btn-warning " href="http://feeds.feedburner.com/BackboneTutorials">subscribe</a>
            <a class="btn btn-success " href="http://leanpub.com/backbonetutorials">download ebook - (.pdf, .MOBI, .ePUB)</a>

<a href="http://gum.co/backbone-beginner-screencast" class="btn btn-primary">Watch Video Tutorial</a>


<script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script>

<script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
      </div>
     
  </div>
</div>
          <hr />
                    
         <div class="row">
          <div class="span12">
          
          

             {{ content }}
            </div>
            </div>

      
</div>
<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(66406579); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/66406579ns.gif" /></p></noscript>
</body>
</html>
