<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
<meta name="readability-verification" content="QaMWXDtxjtrFwfPQ2an55eWRMRLr7F2ermV5E9ch"/> 
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{% if page.title %}{{page.title}} - {% endif %}Backbone.js Tutorials</title>
<link href="/atom.xml" rel="alternate" title="backbone tutorials" type="application/atom+xml">
   <meta name="author" content="Backbone Tutorials" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/reset.css" type="text/css" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
   
   <!-- github ribbon CSS -->
   <link rel="stylesheet" href="/css/ribbon.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection" />
   
   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/stacklayout.css" type="text/css" media="screen, projection" />

   <!-- Typekit -->
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
 
    <style>
        .container {
            width: 760px;
            margin: auto;
        }
        .menu {
            margin-left: 40px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .menu a {
            margin-right: 10px;
        }
        p {
            width: 720px;
            margin: auto;
        }
        .FlattrButton {
			position: absolute;
			top: 15px;
			right: 15px;
		}
    </style>
    <script type="text/javascript">
/* <![CDATA[ */
    (function() {
        var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
        t.parentNode.insertBefore(s, t);
    })();
/* ]]> */
</script>
</head>
<body>
   <div class="left ribbon-holder">
        <a href="https://github.com/thomasdavis/backbonetutorials" class="red ribbon">
          <span class="text">Fork on GitHub</span>
        </a>
      </div>
      
     <a class="FlattrButton" style="display:none;" href="http://backbonetutorials.com/"></a>
<noscript><a href="http://flattr.com/thing/176986/Backbone-js-Tutorials" target="_blank">
<img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" /></a></noscript>

<div class="container">
            <div class="menu">
            <a href="/">home</a>
            <a href="/examples.html">examples</a>
            <!-- <a href="/contribute.html">contribute</a>-->
            <a href="/about.html">about</a>
            <a href="http://feeds.feedburner.com/BackboneTutorials">subscribe</a>
            <a style="margin-left: 320px;" href="http://pledgie.com/campaigns/16174"><strong>donate</strong></a>
          </div>
          
                    
         
          
    <div class="stack">
        <div class="stackContent">
            <h1>Backbone Tutorials</h1>
            <p class="homepagedescription">This site is by no means the definitive guide to backbone.js and all corrections and contributions are welcome.</p>
            
<a style="margin-left: 20px;" href="https://twitter.com/neutralthoughts" class="twitter-follow-button">Follow @neutralthoughts</a>
<script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
<h3 style="text-align: center;"><a style="color: #ff0000; margin-top: 10px; display: inline-block;" href="http://backboneboilerplate.com">Backbone Boilerplate - New!</a></h3>

            <hr>
             {{ content }}
            


        </div>
      
    </div>
</div>
<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(66406579); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/66406579ns.gif" /></p></noscript>
<!-- ClickDesk - <a href='http://www.clickdesk.com'> Live Chat Service </a> for websites -->
<script type='text/javascript'>
var _glc =_glc || [];
_glc.push('ag9jb250YWN0dXN3aWRnZXRyDwsSB3dpZGdldHMYq7ZNDA');
var glcpath = (('https:' == document.location.protocol) ? 'https://contactuswidget.appspot.com/livily/browser/' : 'http://gae.clickdesk.com/livily/browser/');
var glcp = (('https:' == document.location.protocol) ? 'https://' : 'http://');
var glcspt = document.createElement('script'); glcspt.type = 'text/javascript'; glcspt.async = true;glcspt.src = glcpath + 'livechat.js';
var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(glcspt, s);
</script>
</body>
</html>
