---
layout: default
---

<div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Tutorial</h3>
      </div>
    


<div id="post">
{{ content }}
</div>
  </div>



<div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Authored by Thomas Davis</h3>
      </div>
        <a href="https://plus.google.com/101608559187380638042?rel=author">Google Profile</a>
        <a href="https://twitter.com/neutralthoughts">Twitter</a>
        <a href="https://github.com/thomasdavis">Github</a>

</div>
<div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Comments</h3>
      </div>
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'bbtutes'; // required: replace example with your forum shortname
    var disqus_url = '{{page.posturl}}';
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
</div>
